
{% extends "TuniAdminBundle::layout.html.twig" %}

{% block content_middle_b %}
<ul class="breadcrumb">
    <li><a  class="glyphicons home"><i></i> juste1service</a></li>
    <li class="divider"></li>
    <li>{{'Contacts'|trans({}, 'TuniAdminBundle') }}</li>
</ul>
<div class="separator"></div>

<div class="heading-buttons">
    <h3 class="glyphicons group"><i></i> Importe</h3>
    
    <div class="clearfix"></div>
</div>
<div class="separator"></div>
<div class="widget widget-2" style="margin: 0;">
    <div class="widget-head">
        <h4 class="heading glyphicons list"><i></i> Importer</h4>
    </div>
    <div class="widget-body">
        <div class="separator bottom form-inline small">
           
            <span class="pull-right">


            </span>
        </div>
       <form action="{{ path('importRegionVille') }}" enctype="multipart/form-data" method="POST" >
			           
                    						
                                                                                                <label for="RegionVille_file" class="form">Liste region (csv):</label>
                                                                                                <input type="file" id="RegionVille_file" name="RegionVille_file" class="form">
                                                                                                
                                                                                                 <input type="submit" value="Importer" />
                                                                                               <span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title=""><i></i></span> 
                                                                                       
            
            </form>     
            <form action="{{ path('importCategories') }}" enctype="multipart/form-data" method="POST" >
              {% for type, messages in app.session.flashBag.all %}
                                        {% for message in messages %}
                <div class="{{ type }} alert-success">
                                                {{ message|trans({}, 'FOSUserBundle') }}
                    </div> <br>
                                        {% endfor %}
                    {% endfor %}
                               <label for="Categories_file" class="form">Liste categories (csv):</label>
         <input type="file" id="Categories_file" name="Categories_file" class="form">

          <input type="submit" value="Importer" />

                     <span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title=""><i></i></span>                                                                   
            
            </form>     
                    <div class="separator top form-inline small">
                        
                        

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <br/>


{% endblock content_middle_b %}

{% block javascripts %}
{{parent()}}
                <script>
                    $("#selectAction").change(function() {

                        if ($("#selectAction").val() == "supprimer") {
                            var form_data = $('#adminsform').serialize();
                            $.ajax({
                                type: "POST",
                                url: "{{ path('contact') }}",
                                data: form_data,
                                cache: false,
                                success: function(data) {
                                    // alert(data);
                                    window.location = '{{ path('contact') }}';
                                }
                            });
                            return false;
                        }
                    });
                    </script>
{% endblock %}
