

<div class="grid_12 control-group alpha">
    <label class="control-label alignleft">Civilite</label>
    <div class="controls">
    </div>
</div>
<div class="grid_12 control-group alpha civilit">

									{{ form_errors(edit_form.civilite) }}
                                                                        {{ form_widget(edit_form.civilite) }}
    

</div>
<div class="grid_12 control-group alpha">
    <label class="control-label alignleft">Nom</label>
    <div class="controls">
        <div class="input-append">
										{{ form_errors(edit_form.nom) }}
                                                                                {{ form_widget(edit_form.nom) }}
                
            </div>
        </div>
    </div>
<div class="grid_12 control-group alpha">
                        <label class="control-label alignleft">Prénom</label>
                        <div class="controls">
									{{ form_errors(edit_form.prenom) }}
                                                                        {{ form_widget(edit_form.prenom) }}
                                
                            </div>
                        </div>

    <div class="grid_12 control-group alpha">
        <label class="control-label alignleft">Adresse</label>
        <div class="controls">
									{{ form_errors(edit_form.adresse) }}
                                                                        {{ form_widget(edit_form.adresse) }}
                                                                        {{ form_errors(edit_form.codePostal) }}
                                                                        {{ form_widget(edit_form.codePostal) }}
                
            </div>
        </div>
<div class="form-group">
              <label class="sr-only" for="signup-last-addresse">Avatar :</label>
              {{ form_errors(edit_form.logo) }}
              {{ form_widget(edit_form.logo) }}
            </div>
<div class="grid_12 control-group alpha">
                            <label class="control-label alignleft">Email</label>
                            <div class="controls">
									{{ form_errors(form.email) }}
                                                                        {{ form_widget(form.email) }}
                                    
                                </div>
                            </div>
        <div class="grid_12 control-group alpha">
            <label class="control-label alignleft">Tel fixe/GSM</label>
            <div class="controls">
									{{ form_errors(edit_form.tel) }}
                                                                        {{ form_widget(edit_form.tel) }}
                    
                </div>
            </div>

                            
                <div class="grid_12 control-group alpha">
                    <label class="control-label alignleft">Login</label>
                    <div class="controls">
									{{ form_errors(form.username) }}
                                                                        {{ form_widget(form.username) }}
                            
                        </div>
                    </div>


                                    <div class="grid_12 control-group alpha">
                                        <label class="control-label alignleft">Mot de passe</label>
                                        <div class="controls">
									{{ form_errors(form.password.first) }}
                                                                        {{ form_widget(form.password.first) }}
                                                
                                            </div>
                                        </div>
                                    
                    <div class="grid_12 control-group alpha">
                        Confirmer Mot de passe

                    </div>




                    
                            <div class="grid_12 control-group alpha">

									{{ form_errors(form.password.second) }}
                                                                        {{ form_widget(form.password.second) }}
                                            

                                        </div>



{{ form_rest(edit_form) }}	    
