

{% extends "TuniAdminBundle::layout.html.twig" %}
			
{% block content_middle_b %}
<ul class="breadcrumb">
	<li><a  class="glyphicons home"><i></i> juste1service</a></li>
	<li class="divider"></li>
	<li>{{'Articles'|trans({}, 'TuniAdminBundle') }}</li>
</ul>
<div class="separator"></div>
<div class="heading-buttons">
	<h3 class="glyphicons group"><i></i> Articles</h3>
	<div class="buttons pull-right">
        <a href="{{ path('Article_new') }}" class="btn btn-primary btn-icon glyphicons circle_plus"><i></i>Ajouter Article</a>
        </div>
	<div class="clearfix"></div>
</div>
<div class="separator"></div>
<div class="innerLR">
	
<form class="form-horizontal" action="" method="POST" >
    
        
    
    <div class="tab-content" style="padding: 0;" >
		<div class="tab-pane active" id="account-details">
		
			<div class="widget widget-2">
				<div class="widget-head">
					<h4 class="heading glyphicons edit"><i></i>Détail Article</h4>
				</div>
				<div class="widget-body" style="padding-bottom: 0;">
                                    {% for type, messages in app.session.flashBag.all %}
                                        {% for message in messages %}
                                            <div class="{{ type }} alert-success">
                                                {{ message|trans({}, 'FOSUserBundle') }}
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
					<div class="row-fluid">
						<div class="span6">
							
							<div class="control-group">
								<label class="control-label alignleft">Titre:</label>
								<div class="controls">
									{{ entity.titre }}
									
								</div>
							</div>
							<div class="control-group">
								<label class="control-label alignleft">Contenu:</label>
								<div class="controls">
									
										{{ entity.contenu|raw }}
									
								</div>
							</div>
                                                                                                       
						<div class="control-group">
							<label class="control-label alignleft">Direction:</label>
									<div class="controls">
									{{ entity.direction}}
                                                                            </div>
							</div>
                                                    <div class="control-group">
							<label class="control-label alignleft">Page:</label>
									<div class="controls">
									{{ entity.page.nomPage}}
                                                                            </div>
							</div>
                                                    <div class="control-group">
								<label class="control-label alignleft">Image:</label>
								<div class="controls roles">
									{% if (entity.img )%}<div class="row-fluid gallery">
		<ul>                  
						<li class="grid_12">
				<span class="thumb view">
                                    <img src="{{asset('upload/article/'~entity.img)}}" alt="{{entity.img}}" />
				</span>
				<span class="name"></span>
			</li>
				 </ul>
	</div>{%endif%}
									
								</div>
							</div>
							
						
							
						</div>
					</div>
					<div class="form-actions" style="margin: 0;">
                                            <div class="buttons pull-right" style="float:left;">
                                                <a href="{{ path('Article_edit',{'id':entity.id}) }}" class="btn btn-primary btn-icon glyphicons edit"><i></i>Editer</a>
                                            </div>
                                           <div class="buttons pull-right" style="float:right;">
                                                <a href="{{ path('Article')}}" class="btn btn-success btn-icon glyphicons list"><i></i>Retour à la liste</a>
                                            </div>
                                            </div>
					
				</div>
			</div>
		</div>
		
	</div>

</form>
</div>

{% endblock content_middle_b %}