{% extends "TuniAdminBundle::layout.html.twig" %}

{%block javascripts%}
{{parent()}}
    <script type="text/javascript">
        $(window).load(function(){
           
        });
       $('.isSelect').change(function(){
			
			if($('.isSelect').is(':checked'))
			$('#divChamps').show();
			else
			$('#divChamps').hide();
			
			
			
			});
function addFormField() {
	var id = document.getElementById("id").value;
	$("#divTxt").append("<p id='row" + id + "'><label for='val" + id + "'>Champ " + id + "&nbsp;&nbsp;</label><input type='text'  name='val[]' id='val" + id + "'>&nbsp;&nbsp<a href='#' onClick='removeFormField(\"#row" + id + "\"); return false;' class='btn-action glyphicons remove btn-danger'><i></i></a><p>");
	
	
	
	id = (id - 1) + 2;
	document.getElementById("id").value = id;
}

function removeFormField(id) {
	$(id).remove();
}
</script>
{%endblock%}  


{% block content_middle_b %}
<ul class="breadcrumb">
	<li><a  class="glyphicons home"><i></i> juste1service</a></li>
	<li class="divider"></li>
	<li>{{'Temoignages'|trans({}, 'TuniAdminBundle') }}</li>
</ul>
<div class="separator"></div>   

<div class="heading-buttons">
    <h3 class="glyphicons group"><i></i> Temoignages</h3>
    <div class="buttons pull-right">
        <a href="{{ path('temoignage_new') }}" class="btn btn-primary btn-icon glyphicons circle_plus"><i></i>Ajouter temoignage</a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="separator"></div>

<div class="innerLR">
   
<form class="form-horizontal" action="{{ path('temoignage_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    
        
    
    <div class="tab-content" style="padding: 0;" >
		<div class="tab-pane active" id="account-settings">
		
			<div class="widget widget-2">
				<div class="widget-head">
					<h4 class="heading glyphicons edit"><i></i>Editer Temoignage</h4>
				</div>
				<div class="widget-body" style="padding-bottom: 0;">
                                    {% for type, messages in app.session.flashBag.all %}
                                        {% for message in messages %}
                                            <div class="{{ type }} alert-success">
                                                {{ message|trans({}, 'FOSUserBundle') }}
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
				
					<div class="row-fluid">
                                           

<div class=" control-group alpha">
    <label class="control-label alignleft">Titre</label>
    <div class="controls">
        <div class="input-append">
										{{ form_errors(edit_form.titre) }}
                                                                                {{ form_widget(edit_form.titre) }}
                
            </div>
        </div>
    </div>

        <div class=" control-group alpha">
            <label class="control-label alignleft">Texte</label>
            <div class="controls">
									{{ form_errors(edit_form.texte) }}
                                                                        {{ form_widget(edit_form.texte) }}
                    
                </div>
            </div>

                 

<div class="control-group alpha">
                                <label class="control-label alignleft">Publier</label>
                                <div class="controls">
                                    <div class="toggle-button" data-toggleButton-style-enabled="success">
                                                        		{{ form_errors(edit_form.isPublier) }}
                                                                        {{ form_widget(edit_form.isPublier) }}

                                        </div>
                                        

                                    </div>
                                </div>

					</div>
					
					<div class="form-actions" style="margin: 0;">
						<button type="submit" class="btn btn-icon btn-primary glyphicons circle_ok" onclick="if(!confirm('Voulez-vous modifier cet temoignage')) return false;"><i></i>{{ 'registration.edit.submit'|trans({}, 'FOSUserBundle') }}</button>
						<button type="reset"  style="float:right;"  class="btn btn-icon btn-default glyphicons circle_remove"><i></i>Annuler</button>
					</div>
				</div>
			</div>
		</div>
		
	</div>
    
</form>
</div>

  
{% endblock %}
