
{% extends "TuniAdminBundle::layout.html.twig" %}
			
{% block content_middle_b %}
<ul class="breadcrumb">
	<li><a  class="glyphicons home"><i></i> juste1service</a></li>
	<li class="divider"></li>
	<li>{{'Temoignages'|trans({}, 'TuniAdminBundle') }}</li>
</ul>
<div class="separator"></div>
<div class="heading-buttons">
	<h3 class="glyphicons group"><i></i> Temoignages</h3>
	<div class="buttons pull-right">
        <a href="{{ path('temoignage_new') }}" class="btn btn-primary btn-icon glyphicons circle_plus"><i></i>Ajouter temoignage</a>
        </div>
	<div class="clearfix"></div>
</div>
<div class="separator"></div>
<div class="innerLR">
	
<form class="form-horizontal" action="" method="POST" >
    
        
    
    <div class="tab-content" style="padding: 0;" >
		<div class="tab-pane active" id="account-details">
		
			<div class="widget widget-2">
				<div class="widget-head">
					<h4 class="heading glyphicons edit"><i></i>Détail Temoignage</h4>
				</div>
				<div class="widget-body" style="padding-bottom: 0;">
                                    {% for type, messages in app.session.flashBag.all %}
                                        {% for message in messages %}
                                            <div class="{{ type }} alert-success">
                                                {{ message|trans({}, 'FOSUserBundle') }}
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
					<div class="row-fluid">
						<div class="span6">
							
							<div class="control-group">
								<label class="control-label alignleft">Titre:</label>
								<div class="controls">
									{{ entity.titre }}
									
								</div>
							</div>
							<div class="control-group">
								<label class="control-label alignleft">Texte:</label>
								<div class="controls">
									
										{{ entity.texte }}
									
								</div>
							</div>
                                                         
                                                    <div class="control-group">
								<label class="control-label alignleft">Publier:</label>
								<div class="controls roles">
									
									{% if (entity.isPublier )%}Oui{%else%}Non{%endif%}
								</div>
							</div>
							
							
						
							
						</div>
					</div>
					<div class="form-actions" style="margin: 0;">
                                            <div class="buttons pull-right" style="float:left;">
                                                <a href="{{ path('temoignage_edit',{'id':entity.id}) }}" class="btn btn-primary btn-icon glyphicons edit"><i></i>Editer</a>
                                            </div>
                                           <div class="buttons pull-right" style="float:right;">
                                                <a href="{{ path('temoignage')}}" class="btn btn-success btn-icon glyphicons list"><i></i>Retour à la liste</a>
                                            </div>
                                            </div>
					
				</div>
			</div>
		</div>
		
	</div>

</form>
</div>

{% endblock content_middle_b %}