
{% extends "TuniAdminBundle::layout.html.twig" %}

{% block content_middle_b %}
<ul class="breadcrumb">
	<li><a  class="glyphicons home"><i></i> juste1service</a></li>
	<li class="divider"></li>
	<li>{{'Pages'|trans({}, 'TuniAdminBundle') }}</li>
</ul>
<div class="separator"></div>   

<div class="heading-buttons">
    <h3 class="glyphicons group"><i></i> Pages</h3>
    <div class="buttons pull-right">
        <a href="{{ path('page_new') }}" class="btn btn-primary btn-icon glyphicons circle_plus"><i></i>Ajouter page</a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="separator"></div>

<div class="innerLR">
   
<form class="form-horizontal" action="{{ path('page_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    
        
    
    <div class="tab-content" style="padding: 0;" >
		<div class="tab-pane active" id="account-settings">
		
			<div class="widget widget-2">
				<div class="widget-head">
					<h4 class="heading glyphicons edit"><i></i>Editer Page</h4>
				</div>
				<div class="widget-body" style="padding-bottom: 0;">
                                    {% for type, messages in app.session.flashBag.all %}
                                        {% for message in messages %}
                                            <div class="{{ type }} alert-success">
                                                {{ message|trans({}, 'FOSUserBundle') }}
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
				
					
					<div class="row-fluid">
                                           

<div class=" control-group alpha">
    <label class="control-label alignleft">Nom</label>
    <div class="controls">
        <div class="input-append">
										{{ form_errors(edit_form.nomPage) }}
                                                                                {{ form_widget(edit_form.nomPage) }}
                
            </div>
        </div>
    </div>

        <div class=" control-group alpha">
            <label class="control-label alignleft">Mots cles</label>
            <div class="controls">
									{{ form_errors(edit_form.motCles) }}
                                                                        {{ form_widget(edit_form.motCles) }}
                    <span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title=""><i></i></span> 
                </div>
            </div>

                            
                                
            <div class=" control-group alpha">
                <label class="control-label alignleft">Description</label>
                <div class="controls">
									{{ form_errors(edit_form.descriptionPage) }}
                                                                        {{ form_widget(edit_form.descriptionPage) }}
                        
                    </div>
                </div>

<div class=" control-group alpha">
                                <label class="control-label alignleft">Url page</label>
                                <div class="controls">
                                    
                                                        		{{ form_errors(edit_form.urlPage) }}
                                                                        {{ form_widget(edit_form.urlPage) }}

                                        
                                        

                                    </div>
                                </div>


<div class=" control-group alpha">
                                <label class="control-label alignleft">Static</label>
                                <div class="controls">
                                    <div class="toggle-button" data-toggleButton-style-enabled="success">
                                                        		{{ form_errors(edit_form.type) }}
                                                                        {{ form_widget(edit_form.type) }}

                                        </div>
                                        

                                    </div>
                                </div>

{{ form_rest(edit_form) }}	    

                                        
					</div>
					
					<div class="form-actions" style="margin: 0;">
						<button type="submit" class="btn btn-icon btn-primary glyphicons circle_ok" onclick="if(!confirm('Voulez-vous modifier cet page')) return false;"><i></i>{{ 'registration.edit.submit'|trans({}, 'FOSUserBundle') }}</button>
						<button type="reset"  style="float:right;"  class="btn btn-icon btn-default glyphicons circle_remove"><i></i>Annuler</button>
					</div>
				</div>
			</div>
		</div>
		
	</div>
    
</form>
</div>

  
{% endblock %}
