
{% extends "TuniAdminBundle::layout.html.twig" %}



{% block content_middle_b %}
<ul class="breadcrumb">
	<li><a  class="glyphicons home"><i></i> juste1service</a></li>
	<li class="divider"></li>
	<li>{{'Socials'|trans({}, 'TuniAdminBundle') }}</li>
</ul>
<div class="separator"></div>   

<div class="heading-buttons">
    <h3 class="glyphicons group"><i></i> Social</h3>
   
    <div class="clearfix"></div>
</div>
<div class="separator"></div>

<div class="innerLR">
   
<form class="form-horizontal" action="{{ path('Social_create') }}"  method="post" {{ form_enctype(form) }}enctype="multipart/form-data">
    
        
    
    <div class="tab-content" style="padding: 0;" >
		<div class="tab-pane active" id="account-settings">
		
			<div class="widget widget-2">
				<div class="widget-head">
					<h4 class="heading glyphicons edit"><i></i>Ajouter Social</h4>
				</div>
				<div class="widget-body" style="padding-bottom: 0;">
                                    {% for type, messages in app.session.flashBag.all %}
                                        {% for message in messages %}
                                            <div class="{{ type }} alert-success">
                                                {{ message|trans({}, 'FOSUserBundle') }}
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
				
					<div class="row-fluid">
                                           

<div class=" control-group alpha">
    <label class="control-label alignleft">Titre</label>
    <div class="controls">
        <div class="input-append">
										{{ form_errors(form.titre) }}
                                                                                {{ form_widget(form.titre) }}
                
            </div>
        </div>
    </div>

        <div class=" control-group alpha">
            <label class="control-label alignleft">URL</label>
            <div class="controls">
									{{ form_errors(form.url) }}
                                                                        {{ form_widget(form.url) }}
                    
                </div>
            </div>

                            
             
<div class=" control-group alpha">
                                <label class="control-label alignleft">Icon</label>
                                              		{{ form_errors(form.icon) }}
                                                                        {{ form_widget(form.icon) }}

                                       
                                        

                                    
                                </div>
{{ form_rest(form) }}	    

                                      
					</div>
					
					<div class="form-actions" style="margin: 0;">
						<button type="submit" class="btn btn-icon btn-primary glyphicons circle_ok"><i></i>{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</button>
						<button type="reset"  style="float:right;"  class="btn btn-icon btn-default glyphicons circle_remove"><i></i>Annuler</button>
					</div>
				</div>
			</div>
		</div>
		
	</div>
    
</form>
</div>

  
{% endblock %}

