
						<div class="span6">
							
							<div class="control-group">
								<label class="control-label">civilite</label>
								<div class="controls">
									{{ form_errors(edit_form.civilite) }}
                                                                        {{ form_widget(edit_form.civilite) }}
									
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">nom</label>
								<div class="controls">
									<div class="input-append">
										{{ form_errors(edit_form.nom) }}
                                                                                {{ form_widget(edit_form.nom) }}
                                                                               
									</div>
								</div>
							</div>
                                                    <div class="control-group">
							<label class="control-label">prenom</label>
									<div class="controls">
									{{ form_errors(edit_form.prenom) }}
                                                                        {{ form_widget(edit_form.prenom) }}
								</div>
							</div>
                                                     <div class="control-group">
							<label class="control-label">age</label>
									<div class="controls">
									{{ form_errors(edit_form.age) }}
                                                                        {{ form_widget(edit_form.age) }}
								</div>
							</div>
                                                    
                                                    <div class="control-group">
								<label class="control-label">tel</label>
								<div class="controls">
									{{ form_errors(edit_form.tel) }}
                                                                        {{ form_widget(edit_form.tel) }}
									
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">cachePhone</label>
								<div class="controls">
                                                                    <div class="toggle-button" data-toggleButton-style-enabled="success">
                                                        		{{ form_errors(edit_form.cachePhone) }}
                                                                        {{ form_widget(edit_form.cachePhone) }}
								   </div>
                                                               </div>
							</div>
						</div>
						<div class="span6">
                                                        <div class="control-group">
								<label class="control-label">fax</label>
								<div class="controls">
									{{ form_errors(edit_form.fax) }}
                                                                        {{ form_widget(edit_form.fax) }}
									
								</div>
							</div>
                                                        <div class="control-group">
								<label class="control-label">adresse</label>
								<div class="controls">
									{{ form_errors(edit_form.adresse) }}
                                                                        {{ form_widget(edit_form.adresse) }}
                                                                        
                                                                        {{ form_errors(edit_form.codePostal) }}
                                                                        {{ form_widget(edit_form.codePostal) }}
									
								</div>
							</div>
							
						</div>
<div class="span6 control-group alpha"{% if is_granted("ROLE_SUPER_ADMIN")== false %} style="display: none"{%endif%}>
                        <label class="control-label alignleft">Vrai profil</label>
                        <div class="controls">
                            <div class="toggle-button" data-toggleButton-style-enabled="success">
                                                        		{{ form_errors(edit_form.isNotFake) }}
                                                                        {{ form_widget(edit_form.isNotFake) }}

                                </div>
                                

                            </div>
                        </div>
					
{{ form_rest(edit_form) }}	    
