
{% extends "TuniAdminBundle::layout.html.twig" %}



{% block content_middle_b %}
<ul class="breadcrumb">
	<li><a  class="glyphicons home"><i></i> juste1service</a></li>
	<li class="divider"></li>
	<li>{{'Devises'|trans({}, 'TuniAdminBundle') }}</li>
</ul>
<div class="separator"></div>   

<div class="heading-buttons">
    <h3 class="glyphicons group"><i></i> Devise</h3>
    <div class="buttons pull-right">
        <a href="{{ path('Devise_new') }}" class="btn btn-primary btn-icon glyphicons circle_plus"><i></i>Ajouter Devise</a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="separator"></div>

<div class="innerLR">
   
<form class="form-horizontal" action="{{ path('Devise_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    
        
    
    <div class="tab-content" style="padding: 0;" >
		<div class="tab-pane active" id="account-settings">
		
			<div class="widget widget-2">
				<div class="widget-head">
					<h4 class="heading glyphicons edit"><i></i>Editer Devise</h4>
				</div>
				<div class="widget-body" style="padding-bottom: 0;">
                                    {% for type, messages in app.session.flashBag.all %}
                                        {% for message in messages %}
                                            <div class="{{ type }} alert-success">
                                                {{ message|trans({}, 'FOSUserBundle') }}
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
				
					
					<div class="row-fluid">
                                           

<div class=" control-group alpha">
    <label class="control-label alignleft">Code</label>
    <div class="controls">
        <div class="input-append">
										{{ form_errors(edit_form.code) }}
                                                                                {{ form_widget(edit_form.code) }}
                
            </div>
        </div>
    </div>

        <div class=" control-group alpha">
            <label class="control-label alignleft">Nom</label>
            <div class="controls">
									{{ form_errors(edit_form.nom) }}
                                                                        {{ form_widget(edit_form.nom) }}
                    
                </div>
            </div>

                            
                                
            

<div class=" control-group alpha">
                                <label class="control-label alignleft">Taux</label>
                                <div class="controls">
                                    
                                                        		{{ form_errors(edit_form.tauxChangeUsd) }}
                                                                        {{ form_widget(edit_form.tauxChangeUsd) }}

                                        
                                        

                                    </div>
                                </div>
{{ form_rest(edit_form) }}	    

                                        
					</div>
					
					<div class="form-actions" style="margin: 0;">
						<button type="submit" class="btn btn-icon btn-primary glyphicons circle_ok" onclick="if(!confirm('Voulez-vous modifier cet Devise')) return false;"><i></i>{{ 'registration.edit.submit'|trans({}, 'FOSUserBundle') }}</button>
						<button type="reset"  style="float:right;"  class="btn btn-icon btn-default glyphicons circle_remove"><i></i>Annuler</button>
					</div>
				</div>
			</div>
		</div>
		
	</div>
    
</form>
</div>

  
{% endblock %}
