{% extends "TuniAnnonceBundle:Default:index.html.twig" %}
{% block content_middle %}
<div class="navbar-wrapper-content page">
    <div class="container clearfix">
 <div class="container-center row">
            <section class="no-border">
                <article class="express-post col-lg-6">
                    <div class="panel panel-default">
                   <div class="panel-heading">Contact</div>
                    <div class="panel-body">
                    <section class="col-md-12 col-sm-12 col-xs-12 no-border">
                         <form action="{{ path('tuni_annonce_contact_create') }}"  {{ form_enctype(form) }} role="form" method="post">
            {% for type, messages in app.session.flashBag.all %}
                                        {% for message in messages %}
                                            <div class="{{ type }} alert-success">
                                                {{ message|trans({}, 'FOSUserBundle') }}
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
              <div class="input-group">
              <label for="name"  class="input-group-addon glyphicon glyphicon-user"></label>
             
              
                                                                                {{ form_errors(form.nom) }}
                                                                                {{ form_widget(form.nom) }}
            </div>
                             
            
                             
              <div class="input-group">
                  <label  class="input-group-addon glyphicon glyphicon-envelope"></label>
                                                                                {{ form_errors(form.email) }}
                                                                                {{ form_widget(form.email) }}
              </div>
              <div class="input-group">
              <label for="Objet" class="input-group-addon  glyphicon glyphicon-pencil"></label>
             
                                                                                {{ form_errors(form.objet) }}
                                                                                {{ form_widget(form.objet) }}
            </div>
          
            
            
                               <div class="input-group">
                                       <label for="message" class="input-group-addon  glyphicon glyphicon-bookmark"></label>
                                   
                                                                                {{ form_errors(form.message) }}
                                                                                {{ form_widget(form.message) }}
                               </div>
                             {{ form_rest(form) }}
                <input type="submit" class="btn position-right bnt-envois" value="Envoyer">
          </form>
                        </section>              
                    </div>
                   </div>
                </article>
                <article class="col-lg-6 ">
                    <div class="question">
                        <ul>
                            <li>Vous avez une question ou une suggestion sur le site a faire ?</li> 
                             <li>Vous rencontrez un problème technique ?</li> 
                              <li>Vous avez une question sur la rémunération ?</li> 
                               <li>Vous rencontrez une annonce au contenu illicite ?</li> 
                        </ul>
                        
                    </div>
                <img src="{{ asset('bundles/tuniannonce/images/interne/contactez-nous.png') }}" alt="contact" title="contact"  class="img-responsive img-contact col-lg-10 col-lg-offset-2">
                </article>
            </section>
        </div>
        
        </div></div>
                
{% endblock %}
{% block fos_user_content %}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED")== false %}
                       
{{ render(controller('FOSUserBundle:Security2:login', { '_locale': app.request.locale ,'type':'job'})) }}
{% endif %}
{% endblock %} 